body {
  background-color: rgb(76, 71, 71);
  color: aliceblue;
}

h1 {
  font-size: 50px;
}

.welcome {
  text-align: center;
  font-size: 20px;
}

.breweryCard {
  background-color: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
}